name: hello-world
on: push
jobs:
  my-job:
    runs-on: ubuntu-latest
    steps:
      - name: checkout Repo
        uses: actions/checkout@v6
      - name: my-step
        run: echo "Hello World!"
      - name: List files
        run: ls
    #  - name: Read file
     #   run: cat README.md  
